* {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  scroll-behavior: smooth; }

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

.section1 {
  padding-top: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(bg/header.png);
  background-size: cover;
  min-height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }
  .section1 .header {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1170px; }
    .section1 .header__logo a {
      display: block;
      height: 58px; }
      .section1 .header__logo a:hover {
        opacity: 0.5; }
    .section1 .header__checkbox {
      display: none; }
    .section1 .header__label {
      display: none; }
    .section1 .header__ul {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 85px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      list-style: none;
      text-transform: uppercase;
      width: 600px;
      font-size: 14px; }
    .section1 .header__li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none;
      color: #fff; }
      .section1 .header__li a .header__filled {
        display: none;
        width: 9px;
        height: 9px; }
      .section1 .header__li a .header__unfilled {
        width: 9px;
        height: 9px; }
      .section1 .header__li a:hover .header__unfilled,
      .section1 .header__li a:focus .header__unfilled {
        display: none; }
      .section1 .header__li a:hover .header__filled,
      .section1 .header__li a:focus .header__filled {
        display: block; }
      .section1 .header__li a p {
        margin-left: 14px; }
    .section1 .header__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 85px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .section1 .header__links a + a {
        margin-left: 20px; }
      .section1 .header__links a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-decoration: none;
        cursor: pointer; }
      .section1 .header__links a:hover img {
        opacity: 0.5; }
  .section1 .slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
    .section1 .slogan p {
      margin: 0;
      padding: 0;
      line-height: 1; }
    .section1 .slogan p + p {
      margin-top: 20px; }
    .section1 .slogan__title {
      font-size: 80px; }
    .section1 .slogan__text {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 4px; }
  .section1 .screenNav {
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    .section1 .screenNav__filled {
      display: none;
      margin-top: 6px; }
    .section1 .screenNav a {
      margin-bottom: 40px;
      width: 14px;
      height: 14px;
      text-decoration: none; }
      .section1 .screenNav a img {
        width: 9px;
        height: 9px; }
      .section1 .screenNav a:hover .screenNav__filled,
      .section1 .screenNav a:focus .screenNav__filled {
        display: block; }
      .section1 .screenNav a:hover .screenNav__unfilled,
      .section1 .screenNav a:focus .screenNav__unfilled {
        display: none; }
  .section1 .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
    .section1 .arrow a {
      text-decoration: none; }
      .section1 .arrow a img {
        width: 40px;
        height: 40px; }
      .section1 .arrow a img svg {
        fill: #fff; }
    .section1 .arrow a:hover,
    .section1 .arrow a:focus {
      opacity: 0.5; }

.section2 {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .section2__title {
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 100px; }
    .section2__title p {
      margin: 0;
      padding: 0; }
  .section2__inner {
    max-width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #2c4058;
    position: relative; }
    .section2__inner .showModal {
      display: none;
      width: 100%;
      height: 100vh;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 3;
      background-color: rgba(230, 230, 230, 0.9);
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
      .section2__inner .showModal__img {
        margin: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .section2__inner .showModal__newsname {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        width: 50%; }
      .section2__inner .showModal__subtitle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 18px;
        color: #2c4058;
        text-transform: uppercase;
        text-align: left;
        margin: 20px;
        margin-left: 60px;
        margin-bottom: 0; }
      .section2__inner .showModal__title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 44px;
        color: #2c4058;
        text-transform: uppercase;
        text-align: left;
        margin: 20px;
        margin-left: 60px;
        margin-top: 0; }
      .section2__inner .showModal__text {
        font-size: 18px;
        color: #2c4058;
        text-indent: 40px;
        text-align: justify;
        margin: 20px;
        line-height: 24px; }
      .section2__inner .showModal__close {
        font-size: 18px;
        color: #2c4058;
        margin: 20px;
        cursor: pointer;
        margin-left: auto; }
  .section2 .block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 140px;
    padding-top: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .section2 .block1__subtitle h4 {
      font-size: 18px;
      text-transform: uppercase; }
    .section2 .block1__title h3 {
      font-size: 44px;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .section2 .block1__text p {
      font-size: 18px;
      line-height: 30px;
      height: 85px;
      font-family: "Open Sans", sans-serif;
      overflow: hidden;
      margin-bottom: 40px; }
    .section2 .block1 img:nth-child(2) {
      position: absolute;
      top: 0;
      left: -215px;
      z-index: -1;
      overflow: hidden; }
    .section2 .block1__descr {
      margin-left: 130px; }
    .section2 .block1__btn {
      width: 190px;
      height: 50px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #2c4058; }
      .section2 .block1__btn:hover {
        opacity: 0.5; }
      .section2 .block1__btn p {
        line-height: 50px;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        border: 1px solid #2c4058;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 14px; }
  .section2 .block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    position: relative;
    padding-top: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .section2 .block2__subtitle h4 {
      font-size: 18px;
      text-transform: uppercase; }
    .section2 .block2__title h3 {
      font-size: 44px;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .section2 .block2__text p {
      font-size: 18px;
      line-height: 30px;
      font-family: "Open Sans", sans-serif;
      overflow: hidden;
      height: 85px;
      margin-bottom: 40px; }
    .section2 .block2 img:nth-child(2) {
      position: absolute;
      top: 0;
      right: -215px;
      z-index: -1;
      overflow: hidden; }
    .section2 .block2__descr {
      margin-right: 130px; }
    .section2 .block2__btn {
      width: 190px;
      height: 50px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #2c4058; }
      .section2 .block2__btn:hover {
        opacity: 0.5; }
      .section2 .block2__btn p {
        line-height: 50px;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        border: 1px solid #2c4058;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 14px; }

.section3 {
  background: url(bg/gallery.png);
  background-size: cover;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .section3__inner {
    position: relative;
    padding-bottom: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1170px; }
    .section3__inner .slick-dots {
      position: absolute;
      bottom: -70px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      list-style-type: none; }
      .section3__inner .slick-dots li {
        margin: 0 40px; }
      .section3__inner .slick-dots button {
        display: block;
        width: 9px;
        height: 9px;
        padding: 0;
        border: 1px solid #fff;
        border-radius: 100%;
        background-color: transparent;
        text-indent: -9999px; }
      .section3__inner .slick-dots li.slick-active button {
        background-color: #fff; }
    .section3__inner .button {
      color: #fff;
      font-size: 24px;
      cursor: pointer; }
      .section3__inner .button__prev {
        position: absolute;
        top: 60%;
        left: -100px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        opacity: 0.8; }
        .section3__inner .button__prev:hover {
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 100%; }
      .section3__inner .button__next {
        position: absolute;
        top: 60%;
        right: -100px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        text-align: right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        opacity: 0.8; }
        .section3__inner .button__next:hover {
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 100%; }
    .section3__inner .showNews {
      position: fixed;
      z-index: 3;
      background-color: rgba(230, 230, 230, 0.9);
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 100%;
      height: 100vh;
      overflow: auto;
      display: none;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 100px;
      padding-bottom: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .section3__inner .showNews__img {
        width: 30%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 20px; }
      .section3__inner .showNews__title {
        font-size: 24px;
        width: 500px;
        color: #2c4058;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
        align-self: center;
        margin-left: 20px; }
      .section3__inner .showNews__close {
        font-size: 18px;
        color: #2c4058;
        cursor: pointer;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-left: auto;
        margin-bottom: 30px;
        z-index: 3;
        top: 10px;
        left: 100px; }
        .section3__inner .showNews__close:hover {
          opacity: 0.5; }
      .section3__inner .showNews__text {
        width: 100%;
        color: #2c4058;
        font-size: 18px;
        line-height: 24px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        text-align: justify; }
      .section3__inner .showNews__author .author {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 110px;
        background-color: transparent; }
        .section3__inner .showNews__author .author__descr {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
        .section3__inner .showNews__author .author__name {
          font-size: 18px;
          text-transform: uppercase; }
        .section3__inner .showNews__author .author img {
          width: 60px;
          height: 60px;
          margin-right: 20px; }
        .section3__inner .showNews__author .author__date {
          margin-top: 15px;
          color: #2c4058; }
  .section3 .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    .section3 .news__title h2 {
      text-transform: uppercase;
      font-size: 44px;
      color: #fff;
      text-align: center;
      margin-bottom: 100px;
      margin-top: 40px; }
    .section3 .news__title hr {
      border: none;
      width: 100px;
      height: 1px;
      background-color: #fff; }
    .section3 .news__slider {
      margin: auto;
      width: 1170px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative; }
    .section3 .news .news__card + .news__card {
      margin-left: 30px; }
    .section3 .news__card {
      min-width: 370px;
      width: 370px;
      height: 515px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #2c4058;
      background-color: #fff;
      position: relative; }
      .section3 .news__card .author {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 20px;
        height: 110px;
        background-color: #fff; }
        .section3 .news__card .author__descr {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
        .section3 .news__card .author__name {
          font-size: 18px;
          text-transform: uppercase; }
        .section3 .news__card .author img {
          width: 60px;
          height: 60px;
          margin-right: 20px; }
        .section3 .news__card .author__date {
          margin-top: 15px;
          color: #55b7ff; }
    .section3 .news__img {
      width: 370px;
      height: 240px;
      cursor: pointer; }
      .section3 .news__img:hover + .news__plus {
        background-color: rgba(0, 0, 0, 0.5); }
    .section3 .news__title {
      font-size: 22px;
      text-transform: uppercase;
      padding: 0 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .section3 .news__text {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 30px;
      padding: 0 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -o-text-overflow: clip;
      text-overflow: clip;
      overflow: hidden;
      height: 60px;
      width: 100%;
      background-color: #fff; }
    .section3 .news__plus {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 80px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 1px solid #fff;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer; }
      .section3 .news__plus p {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 44px; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 140px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .gallery__holder {
    display: none;
    position: fixed;
    width: 468px;
    height: 352px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(230, 230, 230, 0.9);
    z-index: 1; }
    .gallery__holder img {
      width: 428px;
      height: 312px; }
    .gallery__holder p {
      position: absolute;
      top: 30px;
      right: 30px;
      color: #2c4058;
      cursor: pointer;
      background-color: #fff;
      border-radius: 2px;
      opacity: 0.7; }
  .gallery__inner {
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .gallery__title h2 {
    text-transform: uppercase;
    font-size: 44px;
    color: #2c4058;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 40px; }
  .gallery__title hr {
    border: none;
    width: 100px;
    height: 1px;
    background-color: #2c4058; }
  .gallery__360 {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: none;
    color: #fff;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .gallery__360 h2 {
      text-align: center;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: rgba(30, 30, 30, 0.5);
      padding: 0 10px; }
  .gallery__360inner {
    width: 800px;
    height: 605px;
    background: url(../images/panorama/photo.jpg); }
  .gallery__close {
    position: absolute;
    top: 0px;
    right: 10%;
    color: #fff;
    cursor: pointer;
    background-color: rgba(30, 30, 30, 0.5);
    opacity: 0.7; }
    .gallery__close:hover {
      color: #888; }
  .gallery__main {
    width: 50%;
    cursor: pointer;
    position: relative; }
    .gallery__main img:first-child {
      width: 580px;
      height: 438px; }
    .gallery__main img:nth-child(2) {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: none; }
    .gallery__main:hover img:nth-child(2) {
      display: block; }
    .gallery__main:hover::after {
      content: "";
      width: 580px;
      height: 438px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3); }
  .gallery__cards {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: justify;
    align-content: space-between; }
  .gallery__card {
    cursor: pointer;
    position: relative; }
    .gallery__card:hover::after {
      content: "";
      width: 285px;
      height: 214px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3); }
  .gallery__btn {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #2c4058; }
    .gallery__btn:hover {
      opacity: 0.5; }
    .gallery__btn p {
      line-height: 50px;
      text-transform: uppercase;
      width: 100%;
      height: 50px;
      border: 1px solid #2c4058;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 14px; }
  .gallery__upcards {
    display: none;
    width: 1170px;
    height: 438px;
    position: fixed;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: rgba(230, 230, 230, 0.9); }
    .gallery__upcards .gallery__cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
    .gallery__upcards p {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #2c4058;
      background-color: #fff;
      border-radius: 2px;
      cursor: pointer;
      z-index: 1; }

.map {
  display: block; }
  .map__inner {
    width: 100%;
    height: 700px;
    background-color: #000;
    position: relative; }
  .map .getintouch {
    position: absolute;
    top: 400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 770px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    color: #2c4058;
    padding: 60px;
    padding-bottom: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff; }
    .map .getintouch__title {
      width: 100%;
      font-size: 44px;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-bottom: 55px; }
      .map .getintouch__title hr {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        border: none;
        width: 100px;
        height: 1px;
        background-color: #2c4058;
        margin-bottom: 30px; }
    .map .getintouch a {
      color: #2c4058;
      text-decoration: none; }
    .map .getintouch__left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      color: #2c4058;
      font-size: 18px;
      line-height: 55px;
      text-transform: capitalize; }
      .map .getintouch__left p:nth-child(3) {
        text-transform: none; }
    .map .getintouch__right {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    .map .getintouch__name {
      width: 100%;
      border: none;
      border-bottom: 1px solid #2c4058;
      height: 50px;
      margin-bottom: 20px;
      color: #2c4058;
      font-size: 18px; }
      .map .getintouch__name::-webkit-input-placeholder {
        color: #4b5562;
        font-size: 18px; }
      .map .getintouch__name:-ms-input-placeholder {
        color: #4b5562;
        font-size: 18px; }
      .map .getintouch__name::-ms-input-placeholder {
        color: #4b5562;
        font-size: 18px; }
      .map .getintouch__name::placeholder {
        color: #4b5562;
        font-size: 18px; }
    .map .getintouch__email {
      width: 100%;
      border: none;
      border-bottom: 1px solid #2c4058;
      height: 50px;
      color: #2c4058;
      font-size: 18px;
      margin-bottom: 30px; }
      .map .getintouch__email::-webkit-input-placeholder {
        color: #4b5562;
        font-size: 18px; }
      .map .getintouch__email:-ms-input-placeholder {
        color: #4b5562;
        font-size: 18px; }
      .map .getintouch__email::-ms-input-placeholder {
        color: #4b5562;
        font-size: 18px; }
      .map .getintouch__email::placeholder {
        color: #4b5562;
        font-size: 18px; }
    .map .getintouch__submit {
      display: block;
      margin-left: auto;
      width: 140px;
      height: 50px;
      border: 1px solid #2c4058;
      background-color: transparent;
      text-transform: uppercase;
      cursor: pointer;
      color: #2c4058; }
      .map .getintouch__submit:hover {
        opacity: 0.5; }

.footer {
  padding-top: 205px;
  width: 100%;
  height: 525px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(bg/footer.png);
  background-size: cover; }
  .footer__inner {
    width: 770px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #fff; }
    .footer__inner a {
      text-decoration: none; }
  .footer__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .footer__links {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .footer__link + .footer__link {
    margin-left: 20px; }
  .footer__link:hover {
    opacity: 0.5; }
  .footer__copy {
    margin-top: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    font-size: 14px;
    line-height: 22px; }
    .footer__copy img {
      width: 15px;
      height: 12px; }

@media only screen and (max-width: 1170px) {
  .section1 .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    height: 200px;
    width: 960px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .section1 .header__links {
      margin-left: 0; }
      .section1 .header__links a + a {
        margin-left: 100px; }
    .section1 .header__ul {
      margin-left: 10px;
      width: 500px; }
  .section1 .slogan {
    width: 960px; }
    .section1 .slogan p {
      width: 500px; }
  .section2__title {
    width: 500px;
    margin: auto;
    margin-bottom: 40px; }
  .section2__inner {
    width: 960px; }
  .section2 .block1 {
    width: 650px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    margin: auto; }
    .section2 .block1__img {
      margin-bottom: 20px; }
      .section2 .block1__img img:nth-child(2) {
        display: none; }
    .section2 .block1__descr {
      margin: auto; }
  .section2 .block2 {
    margin-top: 20px;
    width: 650px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto; }
    .section2 .block2__img {
      margin-bottom: 20px; }
      .section2 .block2__img img:nth-child(2) {
        display: none; }
    .section2 .block2__descr {
      margin: auto; }
  .section3__inner {
    width: 960px; }
    .section3__inner .slick-dots {
      margin-left: -10px; }
      .section3__inner .slick-dots li {
        margin: 0 10px; }
    .section3__inner .slick-list {
      margin: 0 15px; }
    .section3__inner .news__slider {
      width: 400px; }
    .section3__inner .news .button__prev {
      left: 200px; }
    .section3__inner .news .button__next {
      right: 200px; }
    .section3__inner .news .showNews {
      top: 20px; }
  .gallery__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 580px; }
  .gallery__main {
    width: 580px;
    margin-bottom: 5px; }
  .gallery__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 580px;
    height: 442px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between; }
  .gallery__upcards {
    width: 600px;
    height: 600px;
    overflow: auto;
    top: 20px; }
    .gallery__upcards__main {
      width: 580px;
      margin-bottom: 5px; }
    .gallery__upcards__cards {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      width: 600px;
      height: 442px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: space-between;
      -ms-flex-align: space-between;
      align-items: space-between; } }

@media only screen and (max-width: 960px) {
  .section1 .header {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0; }
  .section1 .slogan {
    width: 100%;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section1 .slogan p {
      width: 50%; }
  .section3__inner {
    width: 100%; }
    .section3__inner .news .button__prev {
      left: 20px; }
    .section3__inner .news .button__next {
      right: 20px; }
    .section3__inner .news .showNews {
      top: 20px; } }

@media only screen and (max-width: 770px) {
  .gallery {
    width: 100%; }
    .gallery__inner {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .gallery__360 {
      width: 100%;
      height: 605px; }
    .gallery__360inner {
      width: 100%;
      height: 605px; }
  .map__inner .getintouch {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .footer {
    margin-top: 300px;
    width: 100%; }
    .footer__inner {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media only screen and (max-width: 650px) {
  .section1 .header__ul {
    display: none; }
  .section1 .header__label {
    display: block;
    margin: auto;
    cursor: pointer; }
  .section1 .header__checkbox:checked ~ ul {
    margin: 0;
    width: 100%;
    display: block;
    position: absolute;
    top: 150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #55b7ff;
    z-index: 1; }
    .section1 .header__checkbox:checked ~ ul li a {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100px;
      width: 100%; }
      .section1 .header__checkbox:checked ~ ul li a p {
        width: 100px;
        text-align: center; }
  .section1 .slogan {
    width: 100%; }
    .section1 .slogan__title {
      font-size: 24px; }
    .section1 .slogan__text {
      font-size: 14px; }
    .section1 .slogan p {
      width: 100%;
      padding: 0 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      line-height: 1.2; }
  .section1 .screenNav {
    display: none; }
  .section2__title {
    width: 100%;
    font-size: 24px; }
  .section2__inner {
    width: 100%; }
  .section2 .block1 {
    width: 100%; }
    .section2 .block1__title h3 {
      font-size: 24px; }
    .section2 .block1__text p {
      font-size: 14px; }
    .section2 .block1__img {
      text-align: center; }
      .section2 .block1__img img {
        width: 100%; }
    .section2 .block1__descr {
      width: 100%;
      padding: 0 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .section2 .block1__subtitle {
      width: inherit; }
    .section2 .block1__title {
      width: inherit; }
    .section2 .block1__text {
      width: inherit; }
  .section2 .block2 {
    width: 100%; }
    .section2 .block2__title h3 {
      font-size: 24px; }
    .section2 .block2__text p {
      font-size: 14px; }
    .section2 .block2__img {
      text-align: center; }
      .section2 .block2__img img {
        width: 100%; }
    .section2 .block2__descr {
      width: 100%;
      padding: 0 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .section2 .block2__subtitle {
      width: inherit; }
    .section2 .block2__title {
      width: inherit; }
    .section2 .block2__text {
      width: inherit; }
  .section3 {
    width: 100%; }
    .section3__inner {
      width: 100%; }
      .section3__inner .news {
        width: 400px;
        margin: auto;
        position: relative; }
        .section3__inner .news__title h2 {
          font-size: 24px; }
        .section3__inner .news .button__prev {
          top: 61%;
          background-color: rgba(30, 30, 30, 0.9);
          border-radius: 100%;
          z-index: 1; }
        .section3__inner .news .button__next {
          top: 61%;
          background-color: rgba(30, 30, 30, 0.9);
          border-radius: 100%;
          z-index: 1; }
        .section3__inner .news .showNews {
          width: 100%;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .section3__inner .news .showNews img:first-child {
            width: 100%;
            height: auto; }
          .section3__inner .news .showNews__author .author img {
            width: 50%;
            height: auto; }
  .gallery__inner {
    width: 100%; }
  .gallery__main {
    width: 100%; }
    .gallery__main img:first-child {
      width: 100%;
      height: auto; }
  .gallery__cards {
    width: 100%;
    height: auto; }
  .gallery__card {
    width: 100%; }
    .gallery__card:hover::after {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1; }
    .gallery__card img {
      width: 100%;
      height: auto; }
  .gallery__upcards {
    width: 100%; }
  .map__inner .getintouch {
    padding: 60px 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .map__inner .getintouch__title {
      width: 300px;
      margin: auto; }
      .map__inner .getintouch__title h2 {
        line-height: 1.25; }
    .map__inner .getintouch__left {
      width: 300px;
      margin: auto; }
    .map__inner .getintouch__right {
      width: 300px;
      margin: auto; }
  .footer {
    margin-top: 400px; } }

@media only screen and (max-width: 400px) {
  .section3__inner .news {
    width: 350px;
    margin: auto; }
    .section3__inner .news .slick-list {
      margin: 0; }
    .section3__inner .news__slider {
      width: 350px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .section3__inner .news__card {
      margin: auto;
      width: 300px; }
    .section3__inner .news__title {
      padding: 0 10px;
      width: 300px; }
    .section3__inner .news__text {
      padding: 0 10px;
      width: 300px; }
    .section3__inner .news .author {
      width: 300px; }
    .section3__inner .news .news__card + .news__card {
      margin-left: 0; }
  .map__inner .getintouch {
    padding: 60px 10px; }
  .footer__inner {
    width: 300px; } }

@media only screen and (max-width: 400px) and (max-width: 350px) {
  .section1 .header__links a + a {
    margin-left: 5px; } }
